<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>CRUD | Node - Mongo</title>
</head>
<body class="bg-muted">
    
    <%-  include ('api/nav') %>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/add" method="POST">
                            <div class="form-group">
                                <input name="Titulo" type="text" placeholder="Introducir nombre" class="form-control">
                                <textarea name="Descripcion" id="" cols="30" rows="10" class="form-control mt-2 mb-2"></textarea>
                                <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <table class="table table-bordered table-hover">
                    <thead>
                        <th>N°</th>
                        <th>Titulo</th>
                        <th>Descripcion</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </thead>
                    <tbody>
                        <!--<%- cosas %>-->
                        <% for(var i=0; i < cosas.length; i++) { %>
                            <tr>
                                <td><%- i+1 %></td>
                                <td><%= cosas[i].Titulo %></td>
                                <td><%= cosas[i].Descripcion %></td>
                                <td><% if(cosas[i].status == true){ %>
                                    <a href="/changeSte/<%= cosas[i]._id %>" class="btn btn-success btn-block">true</a>
                                <% }else{ %>
                                    <a href="/changeSte/<%= cosas[i]._id %>" class="btn btn-danger btn-block">false</a>
                                <% } %>
                                </td>
                                <td>
                                    <a href="/add/<%= cosas[i]._id %>" class="btn btn-primary btn-block">Añadir al carrito</a>
                                    <a href="/delete/<%= cosas[i]._id %>" class="btn btn-secondary btn-block">Eliminar</a>
                                    <a href="/edit/<%= cosas[i]._id %>" class="btn btn-info btn-block">Editar</a>
                                </td>
                            </tr>
                        <% } %>  
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <%-  include ('api/footer') %>

</body>
</html>