<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>CRUD | Node - Mongo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body class="bg-muted">
    
    <%-  include ('api/nav') %>

    <div class="container mt-4">
        <button class="btn btn-success" onClick="$('.add_pl').toggle()">Añadir</button>
        <div class="row">
            <div class="col-md-12">
                <h5 class="mt-4 mb-4 card-title">Bienvenido a los productos LES GOOOOOOOOOOOOOOOO</h5>
                <img src="https://i.kym-cdn.com/photos/images/newsfeed/002/043/088/afe.jpg" id="DABABY" alt="" style="position: relative">
            </div>
            <div class="col-md-5 offset-md-3 mb-2 mt-2 add_pl" style="display: none;">
                <div class="card">
                    <div class="card-body">
                        <form action="/addProdc" method="POST">
                            <div class="form-group">
                                <input name="Nombre" type="text" placeholder="Introducir nombre" class="form-control">
                                <textarea name="Descripcion" id="" cols="30" rows="5" class="form-control mt-2 mb-2"></textarea>
                                <input name="Valor" type="number" placeholder="Introducir Valor" class="form-control">
                                <input name="Existencia" type="number" placeholder="Introducir existencias" class="form-control">
                                <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <th>N°</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Valor</th>
                        <th>Existencia</th>
                        <th>Acciones</th>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < productos.length; i++) { %>
                            <% if(productos[i].status == true){ %>
                            <tr>
                                <td><%- i+1 %></td>
                                <td><%= productos[i].Nombre %></td>
                                <td><%= productos[i].Descripcion %></td>
                                <td><%= productos[i].Valor %></td>
                                <td><%= productos[i].Existencia %></td>
                                <td>
                                    <form action="/addCart/<%= productos[i]._id %>" method="post">
                                        <button type="submit" class="btn btn-primary">Añadir al carrito</button>
                                    </form>
                                    <a href="/delete/<%= productos[i]._id %>" class="btn btn-secondary">Eliminar</a>
                                    <a href="/edit/<%= productos[i]._id %>" class="btn btn-info">Editar</a>
                                </td>
                            </tr> 
                            <% }else{ %>
                            <tr>
                                <td><%- i+1 %></td>
                                <td><%= productos[i].Nombre %></td>
                                <td>No hay existencias de <%= productos[i].Nombre %></td>
                                <td><%= productos[i].Valor %></td>
                                <td><%= productos[i].Existencia %></td>
                                <td>Suerte par la proxima campeon</td>
                            </tr> 
                            <% } %>
                        <% } %>  
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <%-  include ('api/footer') %>

    <script>
        $(function() {
            
            $("#DABABY").fadeIn('slow',function(){
                $(this).animate({'right': '-=4444px'},'slow');
            });$('#DABABY').fadeOut(44);

            function toggleAdd(){
                $('.add_pl').toggle();
            }
        })
    </script>

</body>
</html>